.judul {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;

    background: linear-gradient(267.81deg, #3C3DBF 1.92%, #2998FF 106.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   
}
.h3{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px !important;
    color: #454545;
}

.h4{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #3C3DBF;
}

.h5{
    font-weight: 600 ;
    font-size: 14px;
    line-height: 30px;
}

.h6{
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 16px;
    color: #454545;
}

.sisa {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #454545;
}

.title{
    font-weight: 400;
    font-size: 13px;
    line-height: 12px !important;
    color: #a1a1a1;
}

.card-wrapper{
    background: #FFFF;
    border: 1px solid #f4f4f4;
    box-shadow: 0px 6px 30px rgba(206, 206, 206, 0.25);
    border-radius: 14px;
}

.icon-wrapper-IN{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 30px;
    height: 35px;
    background: #E4E5FF;
    border-radius: 6px;
    color: #3C3DBF;
}

.icon-wrapper-OUT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 30px;
    height: 35px;
    background: #FFECF0;
    border-radius: 6px;
    color: #FF3666;
}

.text-ungu{
    color: #3C3DBF;
}

.button {
    border: none;
    border-radius: 8px;
    color: #FFFF;
}

.btn-ungu{
        background: #3C3DBF;
}

.btn-pink{
        background: #FF3666;
}

.text-money-in{
    color: #3C3DBF;
    font-weight: 600 !important;
}

.text-money-out{
    color: #FF3666;
    font-weight: 600 !important;
}