.form-group input:focus {
  outline: 0;
  border-color: none;
  box-shadow: none;
}

.links {
  text-decoration: none;
  margin-left: 5px;
  color: #f53d2d;
}

.signin {
  font-weight: bold;
}

.button-sign {
  font-weight: bold;
  font-size: 18px;
  background: #55cdcb;
  border-radius: .2rem;
  border: none;
  padding: .5rem;
  color: white;
}
.button-sign:hover{
  background: #60dbd9;
  transition: 0.3s ease;
}